# **MODULE 1**

#**This is my first notebook**

In [38]:
print("Hello World")

Hello World

In [39]:
import pandas as pd

In [40]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [41]:
df=pd.read_csv('/content/drive/My Drive/Data_Science_Workshop/test_data.csv')

In [42]:
df.head

<bound method NDFrame.head of    column0 column1 column2  column3  column4 sample_name
0  control     yes    0.25     0.10     0.00     sample1
1     case     yes     0.9     0.25     0.75     sample2
2  control     yes    0.43     0.23     0.02     sample3
3     case      no    c084     0.34     0.90     sample4>

In [43]:
df.head()

   column0 column1 column2  column3  column4 sample_name
0  control     yes    0.25     0.10     0.00     sample1
1     case     yes     0.9     0.25     0.75     sample2
2  control     yes    0.43     0.23     0.02     sample3
3     case      no    c084     0.34     0.90     sample4

In [44]:
df=pd.read_csv('/content/drive/My Drive/Data_Science_Workshop/test_data.csv',index_col='sample_name')
df

             column0 column1 column2  column3  column4
sample_name
sample1      control     yes    0.25     0.10     0.00
sample2         case     yes     0.9     0.25     0.75
sample3      control     yes    0.43     0.23     0.02
sample4         case      no    c084     0.34     0.90

In [45]:
df['column2']

sample_name
sample1    0.25
sample2     0.9
sample3    0.43
sample4    c084
Name: column2, dtype: object

In [46]:
df[['column2','column4']]

            column2  column4
sample_name
sample1        0.25     0.00
sample2         0.9     0.75
sample3        0.43     0.02
sample4        c084     0.90

In [47]:
df1=df[['column2','column4']]
df1.head()

            column2  column4
sample_name
sample1        0.25     0.00
sample2         0.9     0.75
sample3        0.43     0.02
sample4        c084     0.90

In [48]:
df['column34']=df['column3']+df['column4']
df.head()

             column0 column1 column2  column3  column4  column34
sample_name
sample1      control     yes    0.25     0.10     0.00      0.10
sample2         case     yes     0.9     0.25     0.75      1.00
sample3      control     yes    0.43     0.23     0.02      0.25
sample4         case      no    c084     0.34     0.90      1.24

In [49]:
df['column01']=df['column0']+df['column1']
df.head()

             column0 column1 column2  column3  column4  column34    column01
sample_name
sample1      control     yes    0.25     0.10     0.00      0.10  controlyes
sample2         case     yes     0.9     0.25     0.75      1.00     caseyes
sample3      control     yes    0.43     0.23     0.02      0.25  controlyes
sample4         case      no    c084     0.34     0.90      1.24      caseno

In [50]:
df['column01']=df['column0']+'_'+df['column1']
df.head()

             column0 column1 column2  column3  column4  column34     column01
sample_name
sample1      control     yes    0.25     0.10     0.00      0.10  control_yes
sample2         case     yes     0.9     0.25     0.75      1.00     case_yes
sample3      control     yes    0.43     0.23     0.02      0.25  control_yes
sample4         case      no    c084     0.34     0.90      1.24      case_no

# **BEGINNING "IF STATEMENTS"**

In [51]:
df.loc[df['column0']=='control','new_column0']=10
df.head()

             column0 column1 column2  ...  column34     column01  new_column0
sample_name                           ...
sample1      control     yes    0.25  ...      0.10  control_yes         10.0
sample2         case     yes     0.9  ...      1.00     case_yes          NaN
sample3      control     yes    0.43  ...      0.25  control_yes         10.0
sample4         case      no    c084  ...      1.24      case_no          NaN

[4 rows x 8 columns]

In [52]:
df.loc[df['column0']=='control','new_column0']=10
df.loc[df['column0']=='case','new_column0']=9
df.head()

             column0 column1 column2  ...  column34     column01  new_column0
sample_name                           ...
sample1      control     yes    0.25  ...      0.10  control_yes         10.0
sample2         case     yes     0.9  ...      1.00     case_yes          9.0
sample3      control     yes    0.43  ...      0.25  control_yes         10.0
sample4         case      no    c084  ...      1.24      case_no          9.0

[4 rows x 8 columns]

# **DAY1 (Monday-6/15/20) ENDS ON MODULE1 slide 73/103**

# **DAY2 (Tuesday-6/16/20) STARTS MODULE1 slide 73/103**

In [53]:
df.loc[df['column0']=='control']

             column0 column1 column2  ...  column34     column01  new_column0
sample_name                           ...
sample1      control     yes    0.25  ...      0.10  control_yes         10.0
sample3      control     yes    0.43  ...      0.25  control_yes         10.0

[2 rows x 8 columns]

In [76]:
df.loc[df['column2']>0.5]

            column0 column1  column2  ...  column34  column01  new_column0
sample_name                           ...
sample2        case     yes      0.9  ...       1.0  case_yes          9.0

[1 rows x 8 columns]

In [59]:
df.loc[df['column3']>0.15]

             column0 column1  column2  ...  column34     column01  new_column0
sample_name                            ...
sample2         case     yes     0.90  ...      1.00     case_yes          9.0
sample3      control     yes     0.43  ...      0.25  control_yes         10.0
sample4         case      no      NaN  ...      1.24      case_no          9.0

[3 rows x 8 columns]

In [60]:
df.dtypes

column0         object
column1         object
column2        float64
column3        float64
column4        float64
column34       float64
column01        object
new_column0    float64
dtype: object

# **Beginning of how to clean data**

In [55]:
df['column2']=pd.to_numeric(df['column2'],errors='coerce')
df.head()

             column0 column1  column2  ...  column34     column01  new_column0
sample_name                            ...
sample1      control     yes     0.25  ...      0.10  control_yes         10.0
sample2         case     yes     0.90  ...      1.00     case_yes          9.0
sample3      control     yes     0.43  ...      0.25  control_yes         10.0
sample4         case      no      NaN  ...      1.24      case_no          9.0

[4 rows x 8 columns]

In [56]:
df_clean=df['column2']=pd.to_numeric(df['column2'],errors='coerce')
df_clean=df.dropna(subset=['column2'])
df_clean.head()

             column0 column1  column2  ...  column34     column01  new_column0
sample_name                            ...
sample1      control     yes     0.25  ...      0.10  control_yes         10.0
sample2         case     yes     0.90  ...      1.00     case_yes          9.0
sample3      control     yes     0.43  ...      0.25  control_yes         10.0

[3 rows x 8 columns]

# **What ELSE can we do with NAN data?**


*   Drop all rows entirely composed of NaN: df=df.dropna(how='all')

*   Drop all rows with at least one NaN: df=df.dropna(how='any')

* Replace all NaN with "0": df=df.fillna(0)

At recording2 00:45:00/01:47:13, Dr. Mangul says that the problem with following ithe slides, is we keep changing the original data frame.

Example, we already dropped NaN values, but we want to now replace it with its correct value.

Therefore, Dr. Mangul went back to the beginning of this interactive notebook and reload/reread the original dataframe (df=pd.read_csv('/content/drive/My Drive/Data_Science_Workshop/test_data.csv',index_col='sample_name')

In [57]:
df['column2']=pd.to_numeric(df['column2'],errors='coerce')
df.head()

             column0 column1  column2  ...  column34     column01  new_column0
sample_name                            ...
sample1      control     yes     0.25  ...      0.10  control_yes         10.0
sample2         case     yes     0.90  ...      1.00     case_yes          9.0
sample3      control     yes     0.43  ...      0.25  control_yes         10.0
sample4         case      no      NaN  ...      1.24      case_no          9.0

[4 rows x 8 columns]

In [58]:
df.fillna(0)

             column0 column1  column2  ...  column34     column01  new_column0
sample_name                            ...
sample1      control     yes     0.25  ...      0.10  control_yes         10.0
sample2         case     yes     0.90  ...      1.00     case_yes          9.0
sample3      control     yes     0.43  ...      0.25  control_yes         10.0
sample4         case      no     0.00  ...      1.24      case_no          9.0

[4 rows x 8 columns]

#**Merging Data (recording2 at 47:00:00/01:47:13, module1 slide 83/103)**

Sometimes separate datasheets should be combined (few data is easy to do manually)

For example: Can combine the same subject across different spreadsheets.

Problem: sometimes one subject doesn't exist in other spreadsheets (do we drop that subject?)

In [69]:
df2=pd.read_csv('/content/drive/My Drive/Data_Science_Workshop/test_data2.csv',index_col='sample_name')
df2.head()

             age
sample_name
sample1       25
sample4       33
sample3       55

In [70]:
df_full=df.merge(df2,on='sample_name',how='inner')
df_full.head()

             column0 column1  column2  ...     column01  new_column0  age
sample_name                            ...
sample1      control     yes     0.25  ...  control_yes         10.0   25
sample3      control     yes     0.43  ...  control_yes         10.0   55
sample4         case      no      NaN  ...      case_no          9.0   33

[3 rows x 9 columns]

In [67]:
df3=pd.read_csv('/content/drive/My Drive/Data_Science_Workshop/test_data3.csv',index_col='sample_name')
df3.head()

             age column1
sample_name
sample1       25     yes
sample4       33      no
sample3       55     yes

In [71]:
df_full2=df.merge(df3,on='sample_name')
df_full2.head()

             column0 column1_x  column2  ...  new_column0  age  column1_y
sample_name                              ...
sample1      control       yes     0.25  ...         10.0   25        yes
sample3      control       yes     0.43  ...         10.0   55        yes
sample4         case        no      NaN  ...          9.0   33         no

[3 rows x 10 columns]

In [65]:
df_full2=df.merge(df3,on=['sample_name','column1'])
df_full2.head()

NameError: ignored

# **RESETTING THE INDEX**

In [ ]:
df_full2=df.reset_index()
df_full2.head()

# **ORGANIZING**



1.   Grouping rows by categories
2.   Grouping rows based on single column
3. Grouping rows based on multiple columns

In [72]:
df_full2.loc[df_full2['age']>25,'age_cat']='gt10'
df_full2.loc[df_full2['age']<=25,'age_cat']='lt10'
df_full2.head()

             column0 column1_x  column2  ...  age  column1_y  age_cat
sample_name                              ...
sample1      control       yes     0.25  ...   25        yes     lt10
sample3      control       yes     0.43  ...   55        yes     gt10
sample4         case        no      NaN  ...   33         no     gt10

[3 rows x 11 columns]

In [ ]:
new_group=df_full2.groupby('column0').mean()
new_group.head()

In [75]:
new_group2=df_full2.groupby(['column0','age_cat']).mean()
new_group2.head()

                 column2  column3  column4  column34  new_column0  age
column0 age_cat
case    gt10         NaN     0.34     0.90      1.24          9.0   33
control gt10        0.43     0.23     0.02      0.25         10.0   55
        lt10        0.25     0.10     0.00      0.10         10.0   25

# **WRITING CSV FILES**

In [61]:
df_full2.to_csv('/content/drive/My Drive/Data_Science_Workshop/test_data_full.csv')

NameError: ignored

In [74]:
df_group=df_full2.groupby('column0').mean()
df_group.to_csv('/content/drive/My Drive/Data_Science_Workshop/test_data_group.csv')

# **DAY2 (Tuesday-6/16/20) Finished Module1 recording2 at 01:24:00/1:47:13**



*   Described objectives of Module 2: Effective data visualization using python
*   Described importance of visualizing data
* [More info about visualization](https://cs.stanford.edu/~marinka/slides/marinka-figures19.pdf)
* Ended with Module2 slide 15/60